/*--------------------------------------------------------PDF file-----------------------------------------------------------------------*/
p{
    background-color: #9d9d9d;
    color: whitesmoke;
    width: 100%;
    height: 30px;
    font-size: 20px;
    font-family: Arial;
    border-radius: 4px;
    text-align: center;
}


