/*---------------------------------------------------------Common File ----------------------------------------------------------------------------*/
html,body{
    margin:0;
    padding:0;
    background-image: url("../../resources/images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ---- particles.js container ---- */
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #110f28;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.font{
    font-family: Arial;
}

/*----------------------------------------------------------------------------------------------------------------------------
  Header Section*/
.header{
    width: 100%;
    height: 50px;
    background-color:#1f2b39;
    opacity: 0.9;
}

/*-----------------------------------------------------------------------------------------------------------------------------
  Logo Section*/
.logo{
    float: left;
    width: 100px;
    height: 100%;
}

.logo img{
    width: 120px;
}

/*------------------------------------------------------------------------------------------------------------------------------
  Nav Menu Section*/
.navMenu{
    float: right;
    color: white;
    margin-right: 1%;
    font-size: 15px;
    overflow: hidden;
}

.navMenu ul{margin: 0; padding: 0; list-style: none; text-align: center; position: relative; z-index: 1;}

.navMenu ul li{display: inline-block;}

.navMenu ul li a{display: block; height:45px; width: 130px; text-decoration: none; line-height: 43px; color: white; transition: 0.5s;}

.navMenu ul li a:hover{background-color:#1f2b39; opacity: 0.5; color: whitesmoke; border-radius: 3px; }

/*---------------------------------------------------------------------------------------------------------------------------------
  Content Section */

.contentView{
    position: absolute;
}

h1,h3,h4,label{
    text-align: center;
    font-family: Forte;
}

.content{
    background-color: rgba(97,229,171,0.99);
    margin-top: 70px;
    border-radius: 4px;
    padding: 5% 50px 5% 50px ;
}

.subContent button{
    transition: 1s;
}

.subContent button:hover{
    background-color: #1b6d85;
    color: white;
    transition: 1s;
}

/*---------------------------------------------------------HOME PAGE - Content(banner)----------------------------------------------------*/
.banner{
    width: 500px;
    height: 280px;
    background-color: #8c8c8c;
    margin: 250px 0px 0px 30%;
    border-radius: 4px;
}

.banner h1{
    font-size: 50px;
}

/*---------------------------------------------------------My Profile--------------------------------------------------------------------*/
.dateOpacity{
    z-index: 2;
}



